:root {
    --main-font: sans-serif;
    --main-font-size: 25px;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  font-size:  var(--main-font-size);
}

:root {
  --btn-color: #cf893f;
  --btn-background: #faf3eb;
}

input, textarea {
  font-family: var(--main-font);
  text-align: center;
  font-size: calc(var(--main-font-size) * 0.75);
  height: 1.5em;
}

.btn, input[type="submit"] {
  color: var(--btn-color);
  border: 1px solid var(--btn-color);
  background: var(--btn-background);
  padding: 3px;
  text-decoration: none;
  margin-right: 1px;
  cursor: pointer;
  text-align: center;
}

.btn:hover, input[type="submit"]:hover {
  filter: brightness(1.1);
}

.upperMenu {
  display: flex;
  justify-content: space-between;
  background: #cccccc;
  font-size: 18px;
  width: 100%;
}

.errorMsg {
  color: #f6546a;
  font-style: italic;
}

code, .code {
  border: 1px solid black;
  background: #141414;
  color: #7bfd00;
  font-style: italic;
  padding: 5px;
  font-family: monospace, monotype;
  font-size: medium;
}