{% extends "layout-ui.html" %} {% block title %}{%if profile_exists %}Profile{% else %}New Profile{% endif %} - {% endblock %} {% block styles %}
<style>
  .mainContent {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80%;
    width: 100%;
  }

  .form {
    display: flex;
    flex-direction: column;
    border: 2px solid #cccccc;
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 5px;
    min-width: 60%;
  }

  #btns {
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  textarea {
    height: 2.5em;
  }

  #profileCode {
    height: 15em;
    font-size: 11px;
    font-family: monospace;
    visibility: hidden;
    position: fixed;
    margin-top: 10px;
    text-align: left;
  }
</style>
{% endblock %} {% block content %}
<div class="mainContent">
  <div class="form">
    <input id='name' type="text" placeholder="profile name" onchange="parseProfileCode()" {%if not editable %}disabled{% endif %}/>
    <textarea id='description' placeholder="description" onchange="parseProfileCode()" {%if not editable %}disabled{% endif %}></textarea>
    <hr>
    <input id='logFile' type="text" placeholder="log file path" onchange="parseProfileCode()" {%if not editable %}disabled{% endif %}>
    <hr>
    <input type="text" class="rule" placeholder="one rule" onchange="parseProfileCode()" {%if not editable %}disabled{% endif %}>
    <hr id='placeRulesBeforeThis'>
    <span id='btns'></span>
    <textarea id="profileCode" {%if not editable %}disabled{% endif %}></textarea>
  </div>
</div>
{% endblock %} {% block js %}
<script src="/static/socket.io.js"></script>
<script>
  const $ = document.querySelector.bind(document);


  const profileCode = $('#profileCode');
  const btns = $('#btns');

  {% autoescape false %}
  let profileData = {{ profile_data|tojson }};
  {% endautoescape %}

  function checkProfileCode(saveData) {
    let newData = null;
    let colorBad = '#ffc1c1';
    try {
      newData = JSON.parse(profileCode.value);
    } catch (e) {
      profileCode.style.background = colorBad;
      return false;
    }
    if ((typeof(newData) !== 'object') || (Object.keys(newData).length !== 1) || (Object.keys(newData)[0] == 'unnamed')) {
      profileCode.style.background = colorBad;
      return false;
    }

    let profileName = Object.keys(newData)[0];

    if (!('description' in newData[profileName]))
      newData[profileName].description = "";

    if (!('filters' in newData[profileName]) || !('logFile' in newData[profileName])) {
      profileCode.style.background = colorBad;
      return false;
    }

    if (saveData) {
      profileData = newData;
      for (let rule of document.querySelectorAll('.rule')) {
        rule.parentNode.removeChild(rule);
      }
      let placeRulesBeforeThis = $('#placeRulesBeforeThis');
      let filters = newData[profileName].filters.slice();
      {%if editable %}
      filters.push(""); // add empty rule so that user can add his own
      {% endif %}
      for (let rule of filters) {
        let element = document.createElement('input');
        element.value = rule;
        element.onchange = parseProfileCode;
        element.className = 'rule';
        element.placeholder = 'another rule';
        {%if not editable %}
        element.disabled = true;
        {% endif %}
        placeRulesBeforeThis.parentNode.insertBefore(element, placeRulesBeforeThis);
      }
      $('#name').value = profileName;
      $('#description').value = newData[profileName].description;
      $('#logFile').value = newData[profileName].logFile;
    }


    if (!newData[profileName].filters.length || !newData[profileName].logFile.length) {
      profileCode.style.background = colorBad;
      return false;
    }

    profileCode.style.background = '#c4ffcb';
    return true;
  }

  function parseProfileCode() {
    let subData = {
      description: $('#description').value,
      logFile: $('#logFile').value,
      filters: []
    }
    for (let rule of document.querySelectorAll('.rule')) {
      if (!rule.value.length)
        rule.parentNode.removeChild(rule);
      else
        subData.filters.push(rule.value);
    }

    let placeRulesBeforeThis = $('#placeRulesBeforeThis');
    let emptyRule = document.createElement('input');
    emptyRule.className = 'rule';
    emptyRule.placeholder = 'one rule';
    emptyRule.onchange = parseProfileCode;
    placeRulesBeforeThis.parentNode.insertBefore(emptyRule, placeRulesBeforeThis);
    profileData = {};

    let profileName = $('#name').value;
    profileData[profileName.length ? profileName : "unnamed"] = subData;

    profileCode.value = JSON.stringify(profileData, null, 2);
    checkProfileCode(false);
  }

  profileCode.onchange = () => checkProfileCode(true);

  function isUndefined(v) {
    return typeof(v) === 'undefined';
  }

  function formatNumber(num, places) {
    let n = num.toString();
    while (n.length < places)
      n = '0' + n;
    return n;
  }

  function createButton(text, appendTo, onclick, id = null) {
    let el = document.createElement('span');
    el.textContent = text;
    el.className = 'btn';
    appendTo.appendChild(el);
    el.onclick = onclick;
    el.id = id;
    return el;
  }

  window.onload = () => {
    {%if editable %}
    createButton("publish", btns, () => {
      if (!checkProfileCode(false)) {
        alert("Some required fields is not filled. Cannot publish");
        return;
      }

      // Post the data to the server
      let form = document.createElement('form');
      let formData = document.createElement('input');
      formData.setAttribute('name', 'profileData');
      formData.value = JSON.stringify(profileData);
      form.appendChild(formData);
      form.setAttribute("method", "post");
      form.style.visibility = 'hidden';
      form.style.position = 'fixed';
      document.body.appendChild(form);
      form.submit();
    });
    {% endif %}
    let btnShowCode = createButton("show code", btns, () => {
      if (btnShowCode.textContent.startsWith("show")) {
        profileCode.style.visibility = 'visible';
        profileCode.style.position = 'static';
        btnShowCode.textContent = 'hide code';
        profileCode.value = JSON.stringify(profileData, null, 2);
        checkProfileCode(false);
      } else {
        profileCode.style.visibility = 'hidden';
        profileCode.style.position = 'fixed';
        btnShowCode.textContent = 'show code';
      }
    });
    {%if editable %}
    createButton("reset", btns, () => {
      location.reload(true);
    });
    {% if profile_exists %}
    createButton("delete", btns, () => {
      if (!confirm('do you really want to delete this profile?'))
        return;
      let form = document.createElement('form');
      let formData = document.createElement('input');
      formData.setAttribute('name', 'delete');
      formData.value = 'really';
      form.appendChild(formData);
      form.setAttribute("method", "post");
      form.style.visibility = 'hidden';
      form.style.position = 'fixed';
      document.body.appendChild(form);
      form.submit();
    });
    {% endif %}
    {% endif %}

    profileCode.value = JSON.stringify(profileData);
    checkProfileCode(true);
  }
</script>
{% endblock %}
