{% extends "layout-ui.html" %} {% block title %}Profile Hub - {% endblock %} {% block styles %}
<style>

  .mainContent {
        width: 100%;
        height: 100%;
        overflow-y: scroll
    }

    .searchBox {
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .searchBox > input {
        width: 100%;
    }

    .results {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .result {
        border: 1px solid #004772;
        margin-top: 15px;
        min-width: 40%;
        display: flex;
        align-items: center;
        flex-direction: column;
        background: #fdf9f9;
        cursor: pointer;
        border-radius: 5px;
    }

    .result > div > .name {
        color: #06a1ff;
        font-weight: bold;
    }

    .result > .info {
        width: 100%;
        display: flex;
        justify-content: space-around;
        color: #000000;
    }

    .official, .fanmade {
        background: #8000FF;
        color: #FFFFFF;
        padding: 5px;
        border-radius: 15px;
        font-style: italic;
        font-size: 15px;
    }

    .official {
        background: #4ea100;
    }

</style>
{% endblock %} {% block content %}
<div class="mainContent">
  <div class="searchBox">
    <input id="searchName" type="text" placeholder="what profile are you searching for?" />
    <div><!--<span>sort by <select class="btn">
          <option value="new">newest</option>
          <option value="best">most loved</option>
          <option value="old">oldest</option>
          <option value="worst">least loved</option>
        </select></span> -->
      {% if logged_in %}
      <a href="hub/-1" class="btn">create new</a>
      <a href="hub_my" class="btn">my profiles</a>
      {% endif %}
    </div>
  </div>

  <div id='results' class="results">
      <!--<div class="result">
      <div><a class="name">Official profile</a></div>
      <div class="info"><span>25 💓</span><span class="official">✔️ official</span></div>
    </div>
    <div class="result">
      <div><a class="name">Fan profile</a></div>
      <div class="info"><span>5 💓️</span><span class="fanmade">fan made</span></div>
    </div> -->
  </div>
</div>
{% endblock %} {% block js %}
<script src="/static/socket.io.js"></script>
<script>
  const $ = document.querySelector.bind(document);

  const searchName = $('#searchName');
  const searchResults = $('#results');

  function isUndefined(v) {
    return typeof(v) === 'undefined';
  }

  function formatNumber(num, places) {
    let n = num.toString();
    while (n.length < places)
      n = '0' + n;
    return n;
  }

  function createButton(text, appendTo, onclick, id = null) {
    let el = document.createElement('span');
    el.textContent = text;
    el.className = 'btn';
    appendTo.appendChild(el);
    el.onclick = onclick;
    el.id = id;
  }

  window.onload = () => {
    const socket = io();
      {% if logged_in %}
      socket.on('askForSecret', (mySid) => {
          let xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function () {
              if (this.readyState === 4 && this.status === 200) {
                  socket.emit('login', xhttp.responseText);
              }
          };
          xhttp.open("GET", `/api/getSidSecret?sid=${encodeURIComponent(mySid)}`, true);
          xhttp.send();
      });
      socket.on('login', (success) => {
          if (!success)
              alert('your connection has been rejected');
      });
      {% endif %}
    socket.on('profilesList', (profiles) => {
      let results = [];
      searchResults.innerHTML = '';
      for (let profile of profiles) {
        let result = document.createElement('div');
        result.className = 'result';
        let textOfficial = profile.official ? "<span class=\"official\">✔️ official</span>" :
          "<span class = \"fanmade\" > fanmade </span>";
        result.innerHTML = `<div><a class="name">${profile.name}</a></div>`;
        let info = document.createElement('div');
        info.className = 'info';
        let likes = document.createElement('span');
        likes.textContent = `${profile.likes} 💓`;
        let textOfficialSpan = document.createElement('span');
        textOfficialSpan.innerHTML = textOfficial;

          likes.onclick = (e) => {
              {% if logged_in %}
              socket.emit('profileLike', profile.id);
              {% else %}
              window.location.href = "/login";
              {% endif %}
              e.stopPropagation();
          }

          socket.on('profileLikeUpdate', (likes) => {
              likes.textContent = `${likes} 💓`
          });

        info.appendChild(likes);
        info.appendChild(textOfficialSpan);

        result.appendChild(info);

        result.onclick = () => window.location.href = "/hub/" + profile.id;

        result.dataset.likes = profile.likes;

        results.push(result);
      }

      // sort results by likes
      results.sort((a, b) => {return parseInt(a.dataset.likes) - parseInt(b.dataset.likes)});
      for (let result of results)
        searchResults.appendChild(result);
    });
    socket.emit('listProfiles', searchName.value);
    searchName.onchange = () => {
      if (!searchName.value.length)
        return;
      socket.emit('listProfiles', searchName.value);
    };
  }
</script>
{% endblock %}
